<% @toggls.each do |t| %>
	<div class="row">
		toggl token: <%= t.api_token %>
		slack user id: <%= t.slack_user_id %>
		<%= link_to "delete", "toggl_accounts/#{t.id}", :method => 'delete' %>
	</div>
<% end %>

<form action="/toggl_accounts" method="post">
<input name="toggl_token" placeholder="Toggl API token" />
<input name="slack_user_id" placeholder="Slack user id" />
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="submit" value="Add Toggl Token">
</form>