<div class="header">
	<img src="/img/slack.png" class="slack" />
	<p>+</p>
	<img src="/img/toggl.png" class="toggl" />
</div>

<div class="content clearfix">
	<p class="tagline">The power of <a href="http://toggl.com" target="_blank">Toggl</a> right in Slack.</p>
	<p class="steps">Easy as the following steps <br />(skip to step 3 if Cheetah Track has already been added to your domain):</p>
	<div class="steps clearfix">
		<div class="step">
			<p class="number">1</p>
			<p class="">
				<a href="https://slack.com/oauth/authorize?scope=commands&client_id=<%= ENV['SLACK_CLIENT_ID'] %>">
					<img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x">
				</a>
			</p>

		</div>
		<div class="step">
			<p class="number">2</p>
			<p class="">
				Select the channel you wish to use Toggl with.
			</p>
			<% if params.has_key?(:added_to_slack) %>
				<p class="success">Success! Slackl is now integrated with your domain.</p>
			<% end %>
		</div>
		<div class="step">
			<p class="number">3</p>
			<p class="">
				The <b>/cheetah</b> command can now be used anywhere in your domain.
				<br /><br /><img src="/img/toggl-my-profile.png" /><br /><br />
				<img src="/img/toggl-api-token.png" />
			</p>
		</div>
		
		<div class="step">
			<p class="number">4</p>
			<a name="step4"></a>
			<p class="">
			Connect your Toggl account to your Slack account by running <br /><b>/cheetah setup</b> from any channel (we recommend using the Slackbot channel). A link will appear to set up your Slack profile.
			</p>
			<% if params.has_key?(:setup_done) %>
				<p class="success">Success! Your Slack profile is now connected to your Toggl profile.</p>
			<% end %>
		</div>
		<div class="step">
			<p class="number">5</p>
			<p class="">
			Run <b>/cheetah projects</b> to view a list of available projects. You'll need to copy the id of the project you wish to start timing.
			</p>
		</div>
		<div class="step">
			<p class="number">6</p>
			<p class="">
			Run <br /><b>/cheetah start &lt;project id&gt; &lt;optional description&gt;</b> to kick that timer off!
			</p>
		</div>
		<div class="step">
			<p class="number">7</p>
			<p class="">
			Run <b>/cheetah status</b>.
			</p>
		</div>
		<div class="step">
			<p class="number">8</p>
			<p class="">
			Run <b>/cheetah stop</b>.
			</p>
		</div>
	</div>
</div>

<p class="support">email jonah@cmbr.co for support / suggestions <br /><a href="/privacy">privacy</a> <a href="/support">support</a></p>


<div class="footer">
	<p><a href="https://github.com/jonah-katz/cheetah-track" target="_blank"><img style="width: 15px;margin-right: 10px;margin-top: -1px;" src="/img/github.png" />Github</a></a> <span>•</span> made by <a href="http://jonahkatz.me" target="_blank">Jonah Katz</a></p>
</div>

