form {
	text-align: center;


	input[type="text"] {
		clear: both;
		width: 400px;
		max-width: 90%;
		margin-bottom: 0px;
	}

	input[type="button"] {
		clear: both;
		float: left;
	}

	&.small {
		width: 300px;
		margin: 0px auto;
		max-width: 90%;
		input,textarea {
			width: 100%;
		}
	}

}