@mixin mq($point) {
  @if $point == mobile {
    @media (max-width: 800px) {
      @content;
    }
  }
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

body {
	font-family: 'Helvetica Neue', 'Roboto', sans-serif;
	font-weight: 300;
}

p {
	margin: 0px;
}

p.privacy {
	width: 300px;
	margin: 0px auto;
	margin-top: 50px;
	@include mq('mobile') {
		width: 90%;
		margin-left: 5%;
	}
}

.header {
	width: 400px;
	margin: 0px auto;
	
	@include mq('mobile') {
		width: 90%;
		margin-left: 5%;
	}

	p {
		text-align: center;
		clear: both;
		width: 100%;
		color: black;
		font-size: 40px;

	}
	img {

		.slack {
			float: left;
			width: 100%;
		}

		.toggl {
			float: left;
			width: 100%;
		}

	}
}

.content {
	width:800px;
	margin: 0px auto;
	margin-top: 55px;
	padding-bottom: 40px;
	
	@include mq('mobile') {
		width: 90%;
		margin-left: 5%;
	}

	p.tagline {
		font-size: 20px;
		text-align: center;
	}

	p.steps {
		text-align: center;
		font-size: 12px;
		margin:30px 0px;
	}


	div.steps {
		width: 300px;
		margin: 0px auto;


		.step {
			float: left;
			border-bottom: 1px solid #DAD5D5;
			width: 100%;
			padding-bottom: 20px;
			padding-top: 20px;
			position: relative;
			padding-left: 70px;

			p.number {
			    border: 1px;
			    padding: 4px;
			    background-color: #25ADFF;
			    border-radius: 50%;
			    float: left;
			    width: 15px;
			    height: 15px;
			    text-align: center;
			    line-height: 15px;
			    color: white;
			    margin: 0px;
			    position: absolute;
			    left: 10px;
			}

			p.content {
				line-height: 100%;
			}

			p.success {
				color: green;
				margin-top: 20px;
			}

		}
	}

}

p.support {
	text-align: center;
	margin-top: 20px;
}

.footer {
	padding: 40px;
	p {
		text-align: center;

		a {
    		color: #03003C;
    		text-decoration: underline;
		}
	}

	span {
	    color: #ABABAB;
	    font-size: 8px;
	    padding: 10px;
   	}
}

